// import color palette
@import './Palette.sass'
    
div
    display: flex
    position: sticky
    align-items: center
    justify-content: space-evenly
    top: 0
    // width: 100vw
    height: 15vh
    margin: 0
    padding: 0 1vw
    background-color: $lightGrey

    input#search
        margin: 1vw
